doctype html
html
  head
    title= title
    meta(charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="dist/css/bootstrap.css")
    link(rel="stylesheet" href="css/nav-bar.css")
    link(rel="stylesheet" href="css/dashboard.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="dist/js/bootstrap.js")
    script(src="js/nav-bar.js" defer="true")
  body
    div.d-flex.flex-row(style="min-height: 100vh;")
      div
        include nav-bar.pug
      div.flex-grow-1.bg-light
        div.header-id.card.p-3
          h2(style="padding: 10px") Welcome CSR-X
        div.dashboard-container
          div.request-a-ride-id
            a(href="/request-ride" style="color: white; font-size: 30px;") Request A Ride
          div.scheduled-trips-id Scheduled Trips
          div.active-rides-id Active Rides
          div.previous-trips-id Previous Trips
          div.scheduled-trips-number-today-id 
            span=active
            span.day  Today
          div.active-rides-number-today-id 
            span=upcoming
            span.day  Today
          div.previous-trips-number-today-id 
            span=completed
            span.day  Today
          div.check-availability-id
            a(href="#" style="color: white; font-size: 30px;") Check Availability
          div.rtma-table
            table#rtma-table-id
              tr
                th Rider Name
                th Trip Date 
                th Reason for Appointment
                th File Number
              each customer in custInfo
                tr
                  td #{customer.fname} #{customer.lname}
                  td #{customer.appointmentDate}
                  td #{customer.apptype}
                  td #{customer.fileNumber}