doctype html
html
  head
    title= title
    meta(charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="dist/css/bootstrap.css")
    link(rel="stylesheet" href="css/nav-bar.css")
    link(rel="stylesheet" href="css/dashboard.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="dist/js/bootstrap.js")
    script(src="js/nav-bar.js" defer="true")
  body(style="height: 100vh")
    div.d-flex.align-items-stretch.flex-row( style="overflow: hidden; height: 100%;")
      div#dashboard-id
        include nav-bar.pug
      div.flex-grow-1.bg-light(style="height: 100%")
        div.header-id Welcome CSR-X
        div.dashboard-container
          div.request-a-ride-id
            a(href="/request-ride" style="color: white; font-size: 30px;") Request A Ride
          div.scheduled-trips-id Scheduled Trips
          div.active-rides-id Active Rides
          div.previous-trips-id Previous Trips
          div.scheduled-trips-number-today-id
            span=scheduledTrips
            | 
            span.day Today
          div.active-rides-number-today-id
            span=activeRides 
            | 
            span.day Today
          div.previous-trips-number-today-id 
            span=previousTrips
            |
            |
            span.day Today
          div.check-availability-id
            a(href="#" style="color: white; font-size: 30px;") Check Availability
          div.total-records
            p(style=" background-color: white; border-line: 1px") Total Records: #{span=customerinfo.length  }
          div.rtma-table
            table.rtma-table-id
              style. 
                th{
                  background-color: gray
                }
              tr
                th Rider Name
                th Trip Date 
                th Market Segment
                th Alert Type
              -const alertOne = "active"
              each customer in customerinfo
                -const alertTwo = "upcoming"
                if alertOne === customer.status 
                  tr
                    td #{customer.fname} #{ customer.lname}
                    td=customer.appointmentDate
                    td=customer.org
                    td.alertType1 OnTrack
                
                if alertTwo === customer.status
                  tr
                    td #{customer.fname} #{customer.lname}
                    td=customer.appointmentDate
                    td=customer.org
                    td.alertType2 Not OnTrack 
                else  
                  |
              
                  