doctype html
html
  head
    title= title
    meta(charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="dist/css/bootstrap.css")
    link(rel="stylesheet" href="css/completed.css")
    link(rel="stylesheet" href="css/nav-bar.css")
    script(src="dist/css/bootstrap.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="js/nav-bar.js" defer="true")
    //script(src='server.js')
  body(style="height: 100vh;")
    main
      div.d-flex.flex-row
        div(style="height: 100vh;")#navigation.bg-dark
          include nav-bar.pug
        div.flex-grow-1.bg-light
          div.card.p-3(style="background-color: rgb(241, 235, 235); font-family: Georgia, 'Times New Roman', Times, serif")
            h2.text-center(style="padding: 10px;") Scheduled Appointments
          div#filter.card.m-3.p-3
            h3.m-0.d-flex.justify-content-between
              span Filter Appointments
              span(style="transform: rotate(-90deg)")  
              #form-group
                label.slect(name='', type='text' style='font-size:20px;' span) By
                |
                |
                select#form-control(name="Filter Appointments", style='font-size:16px; padding-right: 20px' type="text")
                  option(value={}) &#9759; 
                  option(value= "status",style="font-size:20px") Status
                  option(value='upcoming', style='font-size:16px') &#20; Upcoming
                  option(value='active', style="padding-left: 16px") &#20;Active
                  option(value='completed', style="font-size: 16px") &#20; Completed 
                  option(value='tripDirection', style='font-size:20px') Trip Type
                  option(value='oneWay', style='font-size:16px') &#20; One Way
                  option(value='roundTrip', style="font-size: 16px") &#20;Round Trip
                  option(value='multiLeg', style="font-size: 16px") &#20; Multi-Leg 
                  
          div#recordTable.card.m-3.p-3
            p.m-0.text-center 
              | Showing
              |    
              span=len
              | 
              | Of 
              span=length
              |
              | Records
            div.d-flex.justify-content-end.mt-3
              form#form1(action='')
                button.btn.btn-primary.button(onlclick='#table') Retrieve Appointments
            table.table.table.table-striped
              tr(style="text-align: center")
                th Organization
                th Appointment Date
                th Appointment Time
                th Telephone
                th Name
                th File Number
                th Status
              
              each customer in customerinfo
                -const status = "upcoming"
                if customer.status === status 
                  tr.odd(role='row') 
                    td #{customer.org}
                    td #{customer.appointmentDate}
                    td #{customer.appointmentTime}
                    td #{customer.tel}
                    td #{customer.fname} #{customer.lname} 
                    
                    td #{customer.fileNumber}
                    td=customer.status
                else
                  |
          
                  
                  